@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: #D67300;
    --dark-slate: #2B2B2B;
}

/* scroll bar */
html {
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--orange);
    scrollbar-width: thin;
}
html[data-theme="dark"]::-webkit-scrollbar-track {
    background: var(--dark-slate);
}
html[data-theme="dark"]::-webkit-scrollbar-thumb {
    border: 3px solid var(--dark-slate);
}
html::-webkit-scrollbar {
    width: 12px;
}
html::-webkit-scrollbar-track {
    background: #FFF;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border: 3px solid #FFF;
    border-radius: 10px;
}
/* end scroll bar */

/* link hover */
.link::before, .link::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: var(--orange);
    top: 100%;
    left: 5%;
    pointer-events: none;
}
.link::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
.link:hover::before {
    transform-origin: 0 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
.link::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 0 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
.link:hover::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
/* end link hover */

/* theme switcher */
#theme-switcher:checked + label .sun {
    opacity: 0;
    transform: translateX(30px) rotate(360deg);
}
#theme-switcher:checked + label .moon {
    opacity: 1;
    transform: translateX(0) rotate(360deg);
}
/* end theme switcher */

.radial-gradient {
    background-image: radial-gradient(
            50% 50% at 50% 50%,
            var(--orange) 81.77%,
            rgba(0, 0, 0, 0) 100%
    );
    transition: background-image 3s ease-out;
}

/* hamburger menu */
.menu__ham path {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .4s cubic-bezier(.645, .045, .355, 1);
}
.menu__ham.open .ham__l1,
.menu__ham.open .ham__l3 {
    --length: 22.627416998;
}
.menu__ham.open .ham__l2 {
    --length: 0;
}
.menu__ham .ham__l1,
.menu__ham .ham__l3 {
    --total-length: 126.64183044433594;
}
.menu__ham .ham__l2 {
    --total-length: 70;
}
.menu__ham.open .ham__l1,
.menu__ham.open .ham__l3 {
    --offset: -94.1149185097;
}
.menu__ham.open .ham__l2 {
    --offset: -50;
}
/* end hamburger menu */

/* text responsive */
.text__paragraph {
    @apply text-xs 2xsm:text-lg md:text-xl lg:text-2xl 2xl:text-3xl;
}
/* end text responsive */